/* common style */
/* *{
    margin: 0%;
    padding: 0%;
} */
:root{
    --oringe:#FD6E0A;
    --dark:#474747;
    --white:#FFF;
}
/* navigation bar relaeted css  */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 837px;
    background: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: center left, bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.title h2{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}
.title h2 span{
    color: var(--oringe);
}
.menu-items ul{
    display: flex;
    justify-content: end;
    list-style: none;
    align-items: center;
    margin: 0%;
}
.menu-items ul a{
    text-decoration: none;
    color:var(--dark);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
}
.menu-items ul .a-2{
    margin: 0px 30px 0px 50px;
}
.hire-me-btn{
    background: var(--oringe);
    border-radius: 5px;
    display: flex ;
    align-items: center;
    justify-content: center;
    height: 64px ;
    width: 150px ;
    color:var(--white);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
}
/* banner section css  */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin-left: auto;
}
.banner-img,.banner-text{
    width: 44%;
}
/* banner text css  */
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-text h1{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    margin: 0%;
}
.banner-text h2{
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    margin: 0%;
    height: 116px;
    width: 498px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.banner-text p{
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    height: 60px;
    width: 585px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.banner-btn{
    border-radius: 5px;
    background-color: var(--oringe);
    color: var(--white);
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
}
.banner-btn-2{
    margin-left: 10px;
    background-color: transparent;
    border: 2px solid var(--oringe);
    color: var(--oringe);
}
/* banner img css  */
.banner-img img{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
    margin-left: auto;
}

/* about section css  */
.about{
    padding: 70px;
}
.about-inner{
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 90px 80px 70px;
    box-sizing: border-box;
}
.about-inner h1{
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}
.about-inner p{
    color: var(--dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.about-inner > div{
    display: flex;
    justify-content: space-evenly;
}
.about-inner div p{
    margin: 0%;
}